@model IEnumerable<Customer>

@{
    ViewData["Title"] = "Customer Point";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    @ViewData["Title"]
                </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive table-responsive-sm">
                    <table class="table table-sm" id="datatables">
                        <thead>
                            <tr>
                                <th>Account Id</th>
                                <th>Name</th>
                                <th>Total Point</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(m => item.Id)</td>
                                        <td>@Html.DisplayFor(m => item.Name)</td>
                                        <td class="text-right">@Html.DisplayFor(m => item.TotalPoint)</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatables').DataTable({
            "paging": true,
            "lengthChange": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "order": [[0, "asc"], [1, "asc"]]
        });
    })
</script>